.btn-theme {
  background-color: #f5a623 !important;
  border: 1px solid #f5a623 !important;
  border-radius: 25px !important;
  color: #fff !important;
  text-transform: uppercase;
  font-weight: bold;
  a {
    color: #fff !important;
  }
  &:hover {
    border: 1px solid #f5a623 !important;
    background-color: #fff !important;
    color: #f5a623 !important;
    a {
      color: #f5a623 !important;
      text-decoration: none !important;
    }
  }
}
.btn-small {
  text-transform: uppercase;
  font-weight: bold;
  border: 1px solid #f5a623 !important;
  background-color: #fff !important;
  border-radius: 25px !important;
  color: #f5a623 !important;
  a {
    color: #f5a623 !important;
  }
  &:hover {
    background-color: #f5a623 !important;
    color: #fff !important;
    a {
      color: #fff !important;
      text-decoration: none !important;
    }
  }
}
.btn-login {
  width: 100%;
  height: 35px;
  font-weight: bold;
  color: #fff;
  border: 1px solid #067af7;
  border-radius: 8px;
  background-color: #067af7;
  &:hover {
    background-color: #fff;
    color: #067af7;
    border: 1px solid #067af7;
  }
}
.form-control-login {
  width: 100%;
  border: 0;
  padding-left: 5px;
  border-bottom: 1px solid #b0b0b0;
  letter-spacing: -0.09;
  height: 50px;
  font-size: 14px;
  &:focus {
    outline: none;
  }
}

a {
  color: #01b5de;
}

.export-modal {
  height: 252px;
  width: 489px;
}

.btn-export {
  width: 85%;
  height: 45px;
  background-color: #a662dd;
  color: #ffffff;
  font-size: 14px;
  border-radius: 8px;
}
.export-title {
  border-left-color: rgb(0, 153, 255);
  margin-bottom: 20px;
  color: #000;
  font-size: 14px;
  border-left-style: solid;
  padding: 5px;
  font-weight: bold;
  .all-input-picker {
    > span > div > input {
      height: 40px;
    }
  }
}
.ant-calendar-picker-input {
  height: 40px !important;
  background-color: #ececec !important;
  border-radius: 8px !important;
  font-style: italic !important;
}

.ant-modal-footer {
  text-align: center !important;
}
