/********** Add Your Global CSS Here **********/
b {
  font-family: 'UTMHelve-Bold' !important;
}

html h1,
html h2,
html h3,
html h4,
html h5,
html h6,
html a,
html p,
html li,
input,
textarea,
span,
div,
html,
body,
html a {
  margin-bottom: 0;
  font-family: 'UTMHelve';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}

html ul {
  -webkit-padding-start: 0px;
  list-style: none;
  margin-bottom: 0;
}

.scrollbar-track-y,
.scrollbar-thumb-y {
  width: 5px !important;
}

.scrollbar-track-x,
.scrollbar-thumb-x {
  height: 5px !important;
}

.scrollbar-thumb {
  border-radius: 0 !important;
}

.scrollbar-track {
  background: rgba(222, 222, 222, 0.15) !important;
}

.scrollbar-thumb {
  border-radius: 0 !important;
  background: rgba(0, 0, 0, 0.5) !important;
}

.ant-popover-placement-bottom > .ant-popover-content > .ant-popover-arrow:after,
.ant-popover-placement-bottomLeft
  > .ant-popover-content
  > .ant-popover-arrow:after,
.ant-popover-placement-bottomRight
  > .ant-popover-content
  > .ant-popover-arrow:after,
.ant-popover-placement-top > .ant-popover-content > .ant-popover-arrow:after,
.ant-popover-placement-topLeft
  > .ant-popover-content
  > .ant-popover-arrow:after,
.ant-popover-placement-topRight
  > .ant-popover-content
  > .ant-popover-arrow:after {
  left: 190px;
  margin-left: -4px;
}

/********** Add Your Global RTL CSS Here **********/
/* Popover */
html[dir='rtl'] .ant-popover {
  text-align: right;
}

/* Ecommerce Card */
html[dir='rtl'] .isoCardInfoForm .ant-input {
  text-align: right;
}

/* Modal */
html[dir='rtl'] .has-success.has-feedback:after,
html[dir='rtl'] .has-warning.has-feedback:after,
html[dir='rtl'] .has-error.has-feedback:after,
html[dir='rtl'] .is-validating.has-feedback:after {
  left: 0;
  right: auto;
}

html[dir='rtl'] .ant-modal-close {
  right: inherit;
  left: 0;
}

html[dir='rtl'] .ant-modal-footer {
  text-align: left;
}

html[dir='rtl'] .ant-modal-footer button + button {
  margin-left: 0;
  margin-right: 8px;
}

html[dir='rtl'] .ant-confirm-body .ant-confirm-content {
  margin-right: 42px;
}

html[dir='rtl'] .ant-btn > .anticon + span,
html[dir='rtl'] .ant-btn > span + .anticon {
  margin-right: 0.5em;
}

html[dir='rtl'] .ant-btn-loading span {
  margin-left: 0;
  margin-right: 0.5em;
}

html[dir='rtl']
  .ant-btn.ant-btn-loading:not(.ant-btn-circle):not(.ant-btn-circle-outline) {
  padding-left: 25px;
  padding-right: 29px;
}

html[dir='rtl']
  .ant-btn.ant-btn-loading:not(.ant-btn-circle):not(.ant-btn-circle-outline)
  .anticon {
  margin-right: -14px;
  margin-left: 0;
}

/* Confirm */
html[dir='rtl'] .ant-modal.ant-confirm .ant-confirm-body > .anticon {
  margin-left: 16px;
  margin-right: 0;
  float: right;
}

html[dir='rtl'] .ant-modal.ant-confirm .ant-confirm-btns {
  float: left;
}

html[dir='rtl'] .ant-modal.ant-confirm .ant-confirm-btns button + button {
  margin-right: 10px;
  margin-left: 0;
}

/* Message */
html[dir='rtl'] .ant-message .anticon {
  margin-left: 8px;
  margin-right: 0;
}

/* Pop Confirm */
html[dir='rtl'] .ant-popover-message-title {
  padding-right: 20px;
  padding-left: 0;
}

html[dir='rtl'] .ant-popover-buttons {
  text-align: left;
}

/* Notification */
html[dir='rtl']
  .ant-notification-notice-closable
  .ant-notification-notice-message {
  padding-left: 24px;
  padding-right: 0;
}

html[dir='rtl']
  .ant-notification-notice-with-icon
  .ant-notification-notice-message,
html[dir='rtl']
  .ant-notification-notice-with-icon
  .ant-notification-notice-description {
  margin-right: 48px;
}

html[dir='rtl'] .ant-notification-notice-close {
  right: auto;
  left: 190px;
}

html[dir='rtl'] .ant-notification-notice-with-icon {
  left: 0;
}

/* Dropzone */
html[dir='rtl'] .dz-hidden-input {
  display: none;
}

/* Uploader */
.upload-list-inline .ant-upload-list-item {
  float: left;
  width: 200px;
  margin-right: 8px;
}
.upload-list-inline .ant-upload-animate-enter {
  animation-name: uploadAnimateInlineIn;
}
.upload-list-inline .ant-upload-animate-leave {
  animation-name: uploadAnimateInlineOut;
}

.ant-popover-arrow {
  left: 190px !important;
}

.search-box {
  background-color: #fafafa;
}

.table .thead-light,
th {
  background-color: #0099ff !important;
  color: white !important;
  font-family: 'UTMHelve-Bold';
}

.thead-light > tr > th {
  height: 50px;
  vertical-align: middle !important;
  color: white;
}

#tableContent > tr {
  line-height: 35px !important;
}

table.table {
  margin-top: 30px;
  border-radius: 1em;
}

.pagination {
  margin-left: 65% !important;
  margin-top: 8px !important;
}

#sumbitCodeBtn {
  height: 45px;
  width: 100%;
  background-color: #0099ff;
  border-radius: 8px;
  -webkit-box-shadow: 0 2px 10px 0 rgba(201, 201, 201, 0.5);
  -moz-box-shadow: 0 2px 10px 0 rgba(201, 201, 201, 0.5);
  box-shadow: 0 2px 10px 0 rgba(201, 201, 201, 0.5);
  color: white;
  font-family: inherit;
  height: 50px;
}

#sumbitCodeBtnSuccess {
  height: 45px;
  width: 100%;
  background-color: #28a745;
  border-radius: 8px;
  -webkit-box-shadow: 0 2px 10px 0 rgba(201, 201, 201, 0.5);
  -moz-box-shadow: 0 2px 10px 0 rgba(201, 201, 201, 0.5);
  box-shadow: 0 2px 10px 0 rgba(201, 201, 201, 0.5);
  color: white;
  font-family: inherit;
  height: 50px;
}

#sumbitCodeBtnCancel {
  height: 45px;
  width: 100%;
  background-color: #f7402d;
  border-radius: 8px;
  -webkit-box-shadow: 0 2px 10px 0 rgba(201, 201, 201, 0.5);
  -moz-box-shadow: 0 2px 10px 0 rgba(201, 201, 201, 0.5);
  box-shadow: 0 2px 10px 0 rgba(201, 201, 201, 0.5);
  color: white;
  font-family: inherit;
  height: 50px;
}

#sumbitCodeBtn:hover,
#sumbitCodeBtnSuccess:hover,
#sumbitCodeBtnCancel:hover {
  -webkit-box-shadow: 3px 3px 5px 6px rgba(201, 201, 201, 0.5);
  -moz-box-shadow: 3px 3px 5px 6px rgba(201, 201, 201, 0.5);
  box-shadow: 3px 3px 5px 6px rgba(201, 201, 201, 0.5);
}

#campaignType {
  border-bottom: 4px solid #0099ff;
  color: #0099ff;
  transition: 0.2s;
}

.round-active {
  display: inline-block;
  margin: 5px;
  border-radius: 8px;
  width: 8px;
  height: 8px;
  background-color: #28a745;
}

.round-inactive {
  display: inline-block;
  margin: 5px;
  border-radius: 8px;
  width: 8px;
  height: 8px;
}

.hidden {
  display: none !important;
}

.show {
  display: block;
}

#generalBtn {
  width: 148px;
  height: 45px;
  border-radius: 8px;
  color: white;
  margin: 0px 15px;
  transition: box-shadow 0.3s;
  -webkit-box-shadow: 0 2px 10px 0 rgba(201, 201, 201, 0.5);
  -moz-box-shadow: 0 2px 10px 0 rgba(201, 201, 201, 0.5);
  box-shadow: 0 2px 10px 0 rgba(201, 201, 201, 0.5);
  border: none;
}

#generalBtn:hover {
  -webkit-box-shadow: 3px 3px 5px 6px rgba(201, 201, 201, 0.5);
  -moz-box-shadow: 3px 3px 5px 6px rgba(201, 201, 201, 0.5);
  box-shadow: 3px 3px 5px 6px rgba(201, 201, 201, 0.5);
}

.btnCancel {
  background-color: #343a40 !important;
}

.btnSucess {
  background-color: #64bf1b !important;
}

.btnGeneral {
  background-color: #0099ff !important;
}

.btnDelete {
  background-color: #f7402d !important;
}

#campaignInput,
#campaignInput > span {
  height: 45px !important;
  border-radius: 8px;
  background-color: #fafafa !important;
  width: 100%;
}

#campaignTextarea {
  min-height: 400px;
  border-radius: 8px;
  background-color: #fafafa !important;
}

#campaignTextareaSmall {
  min-height: 100px;
  border-radius: 8px;
  background-color: #fafafa !important;
}

#campaignLable {
  font-size: 16px;
}

.ant-calendar-picker-input {
  background-color: #fafafa !important;
}

#campaignLink {
  text-decoration: none !important;
  color: white !important;
}

button > a {
  text-decoration: none;
  color: white;
  margin: auto;
}

button > a:hover {
  text-decoration: none;
  color: white;
}

.ant-menu-submenu-title {
  margin: 0px !important;
}

input.ant-calendar-picker-input.ant-input {
  background-color: #fafafa !important;
  width: 100%;
  height: 45px !important;
}
